@import "core";

// Alert

.#{$prefix}--alert {
  border-radius: $actions-border-radius;
  display: flex;
  flex-wrap: nowrap;
  padding: $spacing-small;
  text-align: left;
  width: 100%;

  .#{$prefix}--alert__icon {
    flex: 0 0 auto;
    padding: $spacing-small - $spacing-xx-small 0;

    svg {
      margin-top: -$spacing-xx-small;
    }
  }

  .#{$prefix}--alert__details {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .#{$prefix}--alert__body {
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    max-width: 100%;
    padding: $spacing-x-small 0 $spacing-x-small $spacing-small;
    width: auto;
  }

  .#{$prefix}--title-h5 {
    color: $color-body-text;
    line-height: $font-line-height-body;
    margin-right: $spacing-x-small;
  }

  .#{$prefix}--alert__actions {
    flex: 0 0 auto;
    margin: auto 0;
    max-width: 100%;
    padding: 0 0 0 $spacing-small;
    width: auto;

    .#{$prefix}--button--primary {
      + .#{$prefix}--link {
        margin-left: $spacing-small;
      }
    }
  }

  .#{$prefix}--alert__close {
    cursor: pointer;
    flex: 0 0 auto;
    margin-right: -$spacing-small;
    padding: $spacing-small - $spacing-xx-small $spacing-small;
  }

  svg {
    font-size: $font-size-medium;
    margin-top: -$spacing-xx-small;
  }
}

.#{$prefix}--alert--primary {
  @include alert($color-primary-light);
}

.#{$prefix}--alert--secondary {
  @include alert($color-secondary-light);
}

.#{$prefix}--alert--danger {
  @include alert($color-danger-light);
}

.#{$prefix}--alert--warning {
  @include alert($color-warning-light);
}

.#{$prefix}--alert--success {
  @include alert($color-success-light);
}
