// Typography
//
// Defining basic styles and sizing for Nimbus type

$font-family: "CentraNube", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 1rem;
$heading-line-height: $font-size-base * 1.25;
$text-line-height: $font-size-base * 1.5;

// Font Sizes

$font-size-01: 12px;
$font-size-02: 14px;
$font-size-03: 16px;
$font-size-04: 18px;
$font-size-05: 20px;
$font-size-06: 24px;
$font-size-07: 32px;
