@import "../../styles/core";

// Tooltip

.#{$prefix}--tooltip-trigger {
  @include link($color-primary, $color-primary-hover, $color-primary-active);
  margin: -$spacing-x-small;
  padding: $spacing-x-small;
}

.#{$prefix}--tooltip {
  background-color: $color-body-text;
  border-radius: $spacing-x-small;
  display: block;
  margin: $spacing-x-small;
  padding: $spacing-x-small;
  transition: opacity $motion-base ease;

  .#{$prefix}--text {
    @include nimbus--type("text-label");
    @include nimbus--text-trim(5);
    color: $color-background;
    width: 160px;
  }

  .#{$prefix}--tooltip__caret {
    display: none;
  }
}
