@import "../../styles/core";

// Tooltip

.#{$prefix}--tooltip-trigger {
  @include link(
    $color-primary-pure,
    $color-primary-hover,
    $color-primary-active
  );
  margin: -$spacing-x-small;
  padding: $spacing-x-small;
}

.#{$prefix}--tooltip {
  background-color: $color-body-text;
  border-radius: $spacing-x-small;
  display: block;
  // margin: $spacing-xx-small $spacing-x-small;
  padding: $spacing-x-small;
  transition: opacity $motion-base ease;

  .#{$prefix}--text {
    @include nimbus--type("text-small");
    @include nimbus--text-trim(5);
    color: $color-background;
    max-width: 160px;
    width: auto;
  }

  .#{$prefix}--tooltip__caret {
    content: "";
    height: 0;
    position: absolute;
    width: 0;

    &[data-placement="top"],
    &[data-placement="bottom"] {
      border-left: $spacing-x-small solid transparent;
      border-right: $spacing-x-small solid transparent;
    }

    &[data-placement="left"],
    &[data-placement="right"] {
      border-bottom: $spacing-x-small solid transparent;
      border-top: $spacing-x-small solid transparent;
    }

    &[data-placement="top"] {
      border-top: $spacing-x-small solid $color-body-text;
      bottom: -$spacing-x-small + 1px;
    }

    &[data-placement="bottom"] {
      border-bottom: $spacing-x-small solid $color-body-text;
      top: -$spacing-x-small + 1px;
    }

    &[data-placement="left"] {
      border-left: $spacing-x-small solid $color-body-text;
      right: -$spacing-x-small + 1px;
    }

    &[data-placement="right"] {
      border-right: $spacing-x-small solid $color-body-text;
      left: -$spacing-x-small + 1px;
    }
  }
}
