@import "../../styles/core";

// Label Mixins

$label-padding: (
  "base": 3px $spacing-x-small,
  "tight": $spacing-xx-small,
) !default;

@mixin label-base {
  @include nimbus--type("text-small-tight");
  align-items: center;
  background-color: transparent;
  border-radius: $spacing-small;
  display: inline-flex;
  max-width: 100%;

  svg {
    height: 12px;
    margin-right: $spacing-xx-small;
    width: 12px;
  }

  .#{$prefix}--text {
    @include nimbus--text-trim(1);
  }

  &[type="button"] {
    appearance: none;
    cursor: pointer;
    transition: $button-hover-delay ease;

    &:disabled,
    &:hover:disabled,
    &:focus:disabled {
      cursor: not-allowed;
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

@mixin label($font-color, $bg-color, $hover-bg-color, $focus-color, $padding) {
  @include label-base;
  background-color: $bg-color;
  border: $button-border-width solid $bg-color;
  color: $font-color;
  padding: map-get($label-padding, $padding);

  svg {
    fill: $font-color;
  }

  &[type="button"] {
    border-color: $font-color;

    &:hover {
      background-color: $hover-bg-color;
      border-color: $hover-bg-color;
    }

    &:active {
      background-color: $focus-color;
      border-color: $focus-color;
    }

    &:focus {
      border-color: $focus-color;
      box-shadow: 0 0 0 $button-border-width $focus-color;
    }
  }
}
