@import "../../styles/core";

// Form

.#{$prefix}--form {
  display: block;
  margin-bottom: $nimbus-grid-spacer-03;

  > .#{$prefix}--alert--inline,
  > .#{$prefix}--alert--toast {
    margin-bottom: $nimbus-grid-spacer-04;
  }

  .#{$prefix}--input-wrapper {
    margin-bottom: $nimbus-grid-spacer-03;
  }
}

.#{$prefix}--action-wrapper {
  @include nimbus--action-wrapper(flex-start);
}
