{
  "settings": {
    "import/resolver": {
      "babel-module": {}
    },
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "detect"
    }
  },
  "env": {
    "jest": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:mdx/recommended",
    "airbnb",
    "@tiendanube/eslint-config",
    "plugin:@typescript-eslint/recommended",
    "prettier" // Must be the lastone rule to overwrite anothers uncompatibles formatting rules
  ],
  "overrides": [
    {
      "files": ["*.md"],
      "rules": {
        "prettier/prettier": [
          2,
          {
            "parser": "markdown"
          }
        ]
      }
    },
    {
      "files": ["*.mdx"],
      "extends": ["plugin:mdx/overrides"]
    }
  ],
  "globals": {
    "sessionStorage": true
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "testing-library", "spellcheck"],
  "rules": {
    "import/no-unresolved": "off", // TODO: review
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "react/default-props-match-prop-types": "off", // We don't use prop-tpyes
    "react/prop-types": "off", // We don't use prop-tpyes
    "react/display-name": ["off", { "ignoreTranspilerName": false }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["**/*.test.tsx"] }
    ],
    "testing-library/await-async-query": "error",
    "testing-library/no-await-sync-query": "error",
    "testing-library/no-debug": "error",
    "testing-library/await-fire-event": "error",
    "testing-library/prefer-wait-for": "error",
    "spellcheck/spell-checker": [
      "error",
      {
        "lang": "en_US",
        "skipWords": [
          "dict",
          "aff",
          "SvgrComponent",
          "classname",
          "svg",
          "utils",
          "Svgr",
          "wrapgrid",
          "href",
          "dismissable",
          "Tiendanube",
          "rbg",
          "fal",
          "perf",
          "jsx",
          "Prepend",
          "grp"
        ]
      }
    ]
  }
}
