{
  "settings": {
    "import/resolver": {
      "babel-module": {}
    },
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "detect"
    }
  },
  "env": {
    "jest": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:mdx/recommended",
    "airbnb",
    "@tiendanube/eslint-config",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/react" // this and before, must be the lastones rules to overwrite anothers uncompatibles formatting rules
  ],
  "overrides": [
    {
      "files": ["*.md"],
      "rules": {
        "prettier/prettier": [
          2,
          {
            "parser": "markdown"
          }
        ]
      }
    },
    {
      "files": ["*.mdx"],
      "extends": ["plugin:mdx/overrides"]
    }
  ],
  "globals": {
    "sessionStorage": true
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "testing-library", "spellcheck"],
  "rules": {
    "react/button-has-type": "off",
    "import/no-unresolved": "off", // TODO: review
    "no-unused-vars": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "react/default-props-match-prop-types": "off", // We don't use prop-tpyes
    "react/prop-types": "off", // We don't use prop-tpyes
    "react/display-name": ["off", { "ignoreTranspilerName": false }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["**/*.test.tsx"] }
    ],
    "testing-library/await-async-query": "error",
    "testing-library/no-await-sync-query": "error",
    "testing-library/no-debug": "error",
    "testing-library/await-fire-event": "off",
    "testing-library/prefer-wait-for": "error",
    "spellcheck/spell-checker": [
      "error",
      {
        "lang": "en_US",
        "skipWords": [
          "dict",
          "aff",
          "SvgrComponent",
          "classname",
          "svg",
          "utils",
          "Svgr",
          "wrapgrid",
          "href",
          "dismissable",
          "Tiendanube",
          "rbg",
          "fal",
          "perf",
          "jsx",
          "Prepend",
          "grp",
          "keydown",
          "listitem",
          "Checkbox",
          "un",
          "columnheader",
          "Tooltip",
          "rowheader",
          "combobox",
          "optgroup",
          "textbox",
          "searchbox",
          "unhover",
          "esc",
          "rowgroup",
          "multiline",
          "textarea",
          "autofocus",
          "Dropdown",
          "resize",
          "unobserve",
          "Rect",
          "spinbutton",
          "instanceof",
          "touchstart",
          "toggler",
          "priv",
          "tablist",
          "tabpanel",
          "noreferrer",
          "unordered",
          "touchmove",
          "touchend",
          "callout",
          "jpeg",
          "gif",
          "Boba",
          "Fett",
          "breakpoint",
          spell-checker
        ]
      }
    ]
  }
}
