
# See https://help.github.com/ignore-files/ for more about ignoring files.

# Global ignoring

# All dependencies
**/node_modules
**/.DS_Store
**/.rpt2_cache
**/build



# misc
## All ENV*** 
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local


## Components ignoring

/packages/components/dist

## Storybook ignoring


## Styles ignoring
/packages/styles/dist
/packages/styles/css
/packages/styles/css-tmp
/packages/styles/scss

##root
npm-debug.log*
yarn-debug.log*
yarn-error.log*

