@import "../NimbusCore/nimbus-core";

// Buttons

.button {
  display: inline-block;
  padding: $button-padding-y $button-padding-x;
  font-family: $font-family;
  font-size: $button-font-size;
  line-height: $button-line-height;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: $size-base * 0.25;
  transition: .15s ease;
}

@each $color, $value in $theme-colors {
  .button_#{$color} {
    @extend .button;
    @include button($value);
  }
}

@each $color, $value in $theme-colors {
  .button_#{$color}_outline {
    @extend .button;
    @include button-outline($value);
  }
}