// Links
//
// Defining mixins to be used by links

@mixin link($font-color, $hover-font-color, $focus-color) {
  @include button-base;
  @include nimbus--type("text-body");
  border: $button-border-width solid transparent;
  border-radius: $actions-border-radius;
  color: $font-color;
  text-align: left;
  text-decoration: none;

  &.#{$prefix}--link--underlined {
    text-decoration: underline;
  }

  &.#{$prefix}--link--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {
    color: $hover-font-color;
  }

  &:active {
    color: $hover-font-color;
  }

  &:focus {
    border-color: $focus-color;
    box-shadow: 0 0 0 $button-border-width $focus-color;
  }

  .#{$prefix}--link-spinner {
    @include nimbus--spinner($spinner-color: $font-color);
    margin-right: $spacing-xx-small;
  }
}
