// Safe Areas
//
// This mixin adds padding to support for ios notch

@mixin nimbus--safe-area($padding: $spacing-small) {
  @supports (padding-top: constant(safe-area-inset-top)) {
    --safe-area-inset-left: constant(safe-area-inset-left);
    --safe-area-inset-right: constant(safe-area-inset-right);
    --safe-area-inset-top: constant(safe-area-inset-top);

    padding-left: calc(var(--safe-area-inset-left) + #{$padding});
    padding-right: calc(var(--safe-area-inset-right) + #{$padding});
    padding-top: calc(var(--safe-area-inset-top) + #{$padding});
  }
  @supports (padding-top: env(safe-area-inset-top)) {
    --safe-area-inset-left: env(safe-area-inset-left);
    --safe-area-inset-right: env(safe-area-inset-right);
    --safe-area-inset-top: env(safe-area-inset-top);

    padding-left: calc(var(--safe-area-inset-left) + #{$padding});
    padding-right: calc(var(--safe-area-inset-right) + #{$padding});
    padding-top: calc(var(--safe-area-inset-top) + #{$padding});
  }
}
