// Skeletons
//
// Mixin for skeletal components and placeholder states

@mixin nimbus--skeleton($height, $width, $vertical-margin, $horizontal-margin) {
  background-color: $color-default;
  border: 0;
  box-shadow: none;
  display: inline-block;
  height: $height;
  margin: $vertical-margin $horizontal-margin;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: relative;
  text-align: inherit;
  width: $width;

  &:hover,
  &:focus,
  &:active {
    border: 0;
    box-shadow: none;
    cursor: default;
  }

  &::before {
    animation: 3000ms ease skeleton infinite;
    background-color: $color-grey-35;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 0%;
  }
}

@mixin nimbus--spinner-color($bg-color) {
  &::before,
  &::after {
    background-color: $bg-color;
  }
}

$nimbus--spinner-size: (
  "small": $spacing-x-small,
  "base": $spacing-small,
  "medium": $spacing-medium,
  "large": $spacing-large,
) !default;

@mixin nimbus--spinner(
  $spinner-color: "",
  $bg-color: $color-background,
  $size: "base"
) {
  $spinner-size: map-get($nimbus--spinner-size, $size);
  @include nimbus--spinner-color($bg-color);
  @if not map-has-key($nimbus--spinner-size, $size) {
    @error "Spinner size size with the name '#{$size} was not found";
  }
  border-radius: 50%;
  box-shadow: inset 0 0 0 $spacing-xx-small;
  color: $spinner-color;
  display: inline-block;
  height: $spinner-size;
  position: relative;
  transition: $button-hover-delay ease;
  width: $spinner-size;

  &::before,
  &::after {
    content: "";
    height: #{$spinner-size + 2px};
    position: absolute;
    top: -1px;
    transition: $button-hover-delay ease;
    width: #{$spinner-size / 2 + 1px};
  }

  &::before {
    animation: spinner 2s infinite ease 1.5s;
    border-radius: 100% 0 0 100%;
    left: -1px;
    transform-origin: #{$spinner-size / 2 + 1px} #{$spinner-size / 2 + 1px};
  }

  &::after {
    animation: spinner 2s infinite ease;
    border-radius: 0 100% 100% 0;
    left: #{$spinner-size / 2 + 1px};
    transform-origin: 0 #{$spinner-size / 2 + 1px};
  }
}

@keyframes skeleton {
  0% {
    left: 0;
    opacity: 0;
    right: initial;
    width: 0%;
  }

  40% {
    left: 0;
    opacity: 0.5;
    right: initial;
    width: 100%;
  }

  50% {
    left: initial;
    right: 0;
    width: 100%;
  }

  90% {
    left: initial;
    opacity: 0;
    right: 0;
    width: 0%;
  }

  100% {
    left: 0;
    right: initial;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
