@import "../../styles/core";

.#{$prefix}--keyboard-toolbar {
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 700;

  &.is--visible {
    display: block;

    .#{$prefix}--keyboard-toolbar-wrapper {
      transform: translateY(0);
    }
  }
}

.#{$prefix}--keyboard-toolbar-wrapper {
  background-color: $color-background;
  border-top: 1px solid $color-default;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: $spacing-x-small;
  transform: translateY(100%);
  transition: transform $motion-fast ease;

  .#{$prefix}--keyboard-toolbar-group {
    &:first-of-type {
      border-left: 0;
      margin-left: -2px;
      padding-left: 0;
    }

    &:last-of-type {
      margin-right: -2px;
      padding-right: 0;
    }
  }
}

.#{$prefix}--keyboard-toolbar-group {
  border-left: 1px solid $color-default;
  display: flex;
  margin: -8px 0;
  padding: 0 $spacing-xx-small;
}

.#{$prefix}--keyboard-toolbar-button__wrapper {
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: $spacing-x-small 2px;
  position: relative;

  &:disabled {
    .#{$prefix}--keyboard-toolbar-button {
      cursor: not-allowed;

      svg {
        fill: $color-grey-50;
      }

      .#{$prefix}--text {
        color: $color-grey-50;
      }
    }
  }
}

.#{$prefix}--keyboard-toolbar-button {
  border-radius: $spacing-xx-small;
  display: inline-flex;
  padding: $spacing-x-small;
  width: 100%;

  svg {
    fill: $color-secondary-pure;
  }

  .#{$prefix}--text {
    color: $color-secondary-pure;
  }

  &.is--active {
    background-color: $color-primary-lighter;

    svg {
      fill: $color-primary-pure;
    }

    .#{$prefix}--text {
      color: $color-primary-pure;
    }
  }
}

.#{$prefix}--keyboard-toolbar-popover {
  background-color: $color-background;
  border-radius: $spacing-xx-small;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: nowrap;
  padding: 0 $spacing-xx-small;
  position: absolute;

  &.is--column {
    align-items: flex-start;
    flex-direction: column;
    min-width: 100px;
    padding: $spacing-xx-small;

    .#{$prefix}--keyboard-toolbar-button__wrapper {
      padding: 0;
      width: 100%;
    }

    .#{$prefix}--keyboard-toolbar-button {
      padding: $spacing-xx-small $spacing-x-small;
    }
  }
}
