@import "../../styles/core";

// Search Filters

.#{$prefix}--search-filters {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: $nimbus-grid-spacer-03;
  margin-left: -1 * $nimbus-grid-spacer-01;
  margin-right: -1 * $nimbus-grid-spacer-01;

  .#{$prefix}--search-filters__search {
    flex: 1 1 auto;
    padding-left: $nimbus-grid-spacer-01;
    padding-right: $nimbus-grid-spacer-01;
  }

  .#{$prefix}--search-filters__filters {
    flex: 0 0 auto;
    padding-left: $nimbus-grid-spacer-01;
    padding-right: $nimbus-grid-spacer-01;
  }
}

.#{$prefix}--search-filters__results {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  > * {
    margin-bottom: $nimbus-grid-spacer-02;
    margin-right: $nimbus-grid-spacer-02;
  }
}
