@import "../../styles/core";

// NavTabs

$nav-tabs-height: 65px;

body {
  &.#{$prefix}--nav-tabs--on {
    @supports (padding-bottom: constant(safe-area-inset-bottom)) {
      --safe-area-inset-bottom: constant(safe-area-inset-bottom);

      padding-bottom: calc(var(--safe-area-inset-bottom) + #{$nav-tabs-height});
    }
    @supports (padding-bottom: env(safe-area-inset-bottom)) {
      --safe-area-inset-bottom: env(safe-area-inset-bottom);

      padding-bottom: calc(var(--safe-area-inset-bottom) + #{$nav-tabs-height});
    }
    padding-bottom: $nav-tabs-height;
  }
}

.#{$prefix}--nav-tabs {
  @supports (padding-bottom: constant(safe-area-inset-bottom)) {
    --safe-area-inset-bottom: constant(safe-area-inset-bottom);

    padding-bottom: calc(var(--safe-area-inset-bottom) + #{$spacing-x-small});
  }
  @supports (padding-bottom: env(safe-area-inset-bottom)) {
    --safe-area-inset-bottom: env(safe-area-inset-bottom);

    padding-bottom: calc(var(--safe-area-inset-bottom) + #{$spacing-x-small});
  }
  align-items: center;
  background-color: $color-background;
  border-top: 1px solid $color-default;
  bottom: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  left: 0;
  padding-bottom: $spacing-x-small;
  padding-left: $spacing-small;
  padding-right: $spacing-small;
  padding-top: $spacing-x-small;
  position: fixed;
  width: 100%;
  z-index: 700;
}

.#{$prefix}--nav-tabs-item {
  align-items: center;
  appearance: none;
  background-color: transparent;
  border-radius: $actions-border-radius;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  padding: $spacing-x-small + $spacing-xx-small;
  width: auto;

  svg {
    fill: $color-secondary;
  }
}

.#{$prefix}--nav-tabs-item--active {
  background-color: #edf5fe;

  svg {
    fill: $color-primary;
  }
}

.#{$prefix}--nav-tabs-item--badge {
  position: relative;

  &::after {
    background-color: $color-primary;
    border-radius: 100%;
    content: "";
    display: block;
    height: $spacing-x-small;
    position: absolute;
    right: $spacing-xx-small;
    top: $spacing-xx-small;
    width: $spacing-x-small;
  }
}
