@import "../../../styles/core";

/* stylelint-disable max-nesting-depth */

// Table

// Structure
//
// Wrapper

.#{$prefix}--data-list-wrapper {
  margin-left: -$spacing-small;
  margin-right: -$spacing-small;

  @include nimbus--breakpoint(lg) {
    margin-left: -$spacing-medium;
    margin-right: -$spacing-medium;
  }

  .#{$prefix}--data-list__mass-actions {
    @include nimbus--safe-area($spacing-x-small);

    align-items: center;
    background-color: $color-default;
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: $spacing-x-small;
    padding-left: $spacing-x-small;
    padding-right: $spacing-x-small;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 800;

    > * {
      padding-left: $spacing-x-small;
      padding-right: $spacing-x-small;
    }

    .#{$prefix}--data-list__mass-select {
      flex: 1 1 auto;
      max-width: 360px;
    }
  }
}

// Row

.#{$prefix}--data-list-row {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  transition: padding $motion-fast ease;

  .#{$prefix}--data-list-row__check-wrapper {
    display: none;
    left: 0;
    opacity: 0;
    position: absolute;
    top: $spacing-small;
    transform: translateX(-100%);
    transition: transform $motion-fast ease, opacity $motion-fast ease;

    &.is--visible {
      display: inline-block;
      opacity: 1;
      transform: translateX(0);
    }
  }
}

// Cell

.#{$prefix}--data-list-row__item {
  display: inline-block;
  position: relative;
  text-align: left;
  vertical-align: middle;
}

// Long tap interaction

.#{$prefix}--data-list-row--touching {
  background-color: $color-background-secondary;
  overflow: hidden;

  &::before {
    animation: pulse 2.5s 1 0.5s ease;
    background-color: $color-default;
    border-radius: 100%;
    content: "";
    display: block;
    height: 24px;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
  }
}

// Spinner

.#{$prefix}--spinner-wrapper {
  padding: $spacing-medium 0;
  position: relative;
  text-align: center;
  width: 100%;
}

// Modifiers
//
// Wrapper

.#{$prefix}--data-list-wrapper {
  &.#{$prefix}--data-list-wrapper--edit-mode {
    .#{$prefix}--data-list-row {
      * {
        pointer-events: none;
      }
    }
  }

  &.#{$prefix}--data-list-wrapper--ruled {
    .#{$prefix}--data-list__body {
      border-top: 1px solid $color-default;

      .#{$prefix}--data-list-row {
        border-bottom: 1px solid $color-default;
      }
    }
  }

  &.#{$prefix}--data-list-wrapper--spacing-base {
    &.#{$prefix}--data-list-wrapper--actions {
      .#{$prefix}--data-list-row {
        padding: $spacing-small $spacing-x-small $spacing-small $spacing-x-large;
      }
    }

    .#{$prefix}--data-list-row {
      padding: $spacing-small $spacing-x-small;

      @include nimbus--breakpoint(lg) {
        padding: $spacing-small;
      }

      .#{$prefix}--data-list-row__item {
        padding: 0 $spacing-x-small;

        &:last-of-type {
          padding-right: $spacing-small;
        }

        &.#{$prefix}--data-list-row__item--extra-padding {
          padding: $spacing-x-small 0 0 $spacing-x-small;
        }
      }
    }
  }

  &.#{$prefix}--data-list-wrapper--spacing-tight {
    &.#{$prefix}--data-list-wrapper--actions {
      .#{$prefix}--data-list-row {
        padding: $spacing-x-small $spacing-x-small $spacing-x-small
          $spacing-large;
      }
    }

    .#{$prefix}--data-list-row {
      padding: $spacing-x-small;

      .#{$prefix}--data-list-row__item {
        padding: 0 $spacing-x-small;
      }
    }
  }
}

// Row

.#{$prefix}--data-list-row {
  &.#{$prefix}--data-list-row--grayed {
    background-color: $color-background-secondary;
  }
}

// Cell

.#{$prefix}--data-list-row__item {
  &.#{$prefix}--data-list-row__item--trim-text {
    .#{$prefix}--text {
      @include nimbus--text-trim(2);
      max-width: 160px;
      text-align: inherit;
      white-space: nowrap;
    }
  }

  &.#{$prefix}--data-list-row__item--fill-width {
    flex: 1 1 auto;
  }

  &.#{$prefix}--data-list-row__item--auto-width {
    flex: 0 0 auto;
  }

  @for $n from 0 through 100 {
    &.#{$prefix}--data-list-row__item--#{$n}-width {
      flex: 1 1 percentage($n / 100);
      max-width: percentage($n / 100);
    }
  }

  &.#{$prefix}--data-list-row__item--align-right {
    text-align: right;
  }

  &.#{$prefix}--data-list-row__item--row-title {
    .#{$prefix}--text,
    .#{$prefix}--link,
    .#{$prefix}--button {
      @include nimbus--type("text-heading");
    }
  }
}
