@import "../../styles/core";

// Checkbox

.#{$prefix}--checkbox-wrapper {
  position: relative;

  .#{$prefix}--checkbox {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    &:checked + .#{$prefix}--checkbox-label::before,
    &.indeterminate + .#{$prefix}--checkbox-label::before {
      background-color: $color-primary-pure;
      border-color: $color-primary-pure;
    }

    &.indeterminate + .#{$prefix}--checkbox-label::after {
      visibility: visible;
    }

    &:checked ~ .#{$prefix}--checkbox__check {
      visibility: visible;
    }

    &:disabled + .#{$prefix}--checkbox-label::before,
    &:hover:disabled + .#{$prefix}--checkbox-label::before,
    &:focus:disabled + .#{$prefix}--checkbox-label::before {
      background-color: $input-disabled-background;
      border-color: $input-disabled-background;
      cursor: not-allowed;
      pointer-events: none;
    }

    &:disabled + .#{$prefix}--checkbox-label,
    &:hover:disabled + .#{$prefix}--checkbox-label,
    &:focus:disabled + .#{$prefix}--checkbox-label {
      .#{$prefix}--text {
        color: $input-disabled-text;
      }
    }

    &:active + .#{$prefix}--checkbox-label::before {
      background-color: $color-primary-active;
      border-color: $color-primary-active;
    }

    &:focus + .#{$prefix}--checkbox-label::before {
      border-color: $color-primary-active;
      box-shadow: 0 0 0 $button-border-width $color-primary-active;
    }
  }

  %checkbox-label {
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    min-height: $spacing-medium;
    padding-left: $spacing-large;
    position: relative;
    white-space: nowrap;

    &::before {
      background-color: transparent;
      border: $input-border-width solid $input-border-color;
      border-radius: $spacing-xx-small;
      content: "";
      height: $spacing-medium - 2px;
      left: 0;
      position: absolute;
      top: 0;
      width: $spacing-medium - 2px;
    }

    &::after {
      background-color: $color-background;
      content: "";
      height: 2px;
      left: $spacing-xx-small;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      visibility: hidden;
      width: 16px;
    }

    .#{$prefix}--text {
      @include nimbus--type("text-body");
      color: $color-body-text;
    }
  }

  .#{$prefix}--checkbox-label {
    @extend %checkbox-label;
  }

  .#{$prefix}--label-hidden {
    padding-left: $spacing-medium;

    span {
      border: 0;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      visibility: inherit;
      white-space: nowrap;
      width: 1px;
    }
  }

  .#{$prefix}--checkbox__check {
    align-items: center;
    display: flex;
    height: 24px;
    justify-content: center;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 24px;

    svg {
      fill: $color-background;
    }
  }
}

.#{$prefix}--checkbox-skeleton {
  @include nimbus--skeleton($spacing-medium, $spacing-medium, 0, 0);
  border-radius: $spacing-xx-small;
}
