@import "../../styles/core";

// Card

.#{$prefix}--card-wrapper {
  background-color: $color-background;
  border: $input-border-width solid $color-default;
  border-radius: $actions-border-radius;
  display: block;
  padding: $spacing-x-small;
  width: 100%;

  @include nimbus--breakpoint(md) {
    padding: $spacing-small;
  }

  .#{$prefix}--card-header,
  .#{$prefix}--card-body,
  .#{$prefix}--card-footer {
    padding: $spacing-x-small;
  }

  .#{$prefix}--card-header {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    position: relative;

    &.is-collapsible {
      appearance: none;
      background-color: transparent;
      border: $button-border-width solid transparent;
      cursor: pointer;
      padding-right: $spacing-xxx-large;
      width: 100%;
    }

    .#{$prefix}--card-header__title {
      flex: 1 1 auto;
      overflow: hidden;

      .#{$prefix}--title-h3 {
        @include nimbus--type("heading-element");
        @include nimbus--text-trim(1);
      }
    }
  }

  .#{$prefix}--card-header__collapse {
    border-radius: $actions-border-radius;
    padding: $spacing-small;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: $button-hover-delay ease;

    svg {
      transition: $motion-fast;
    }

    &.is-open {
      svg {
        transform: rotateZ(180deg);
      }
    }
  }

  .#{$prefix}--card-collapse {
    max-height: 0;
    overflow: hidden;
    transition: $button-hover-delay ease;
    will-change: max-height;

    &.is-open {
      max-height: 100%;
      transition: $button-hover-delay ease;
    }
  }

  + .#{$prefix}--card-wrapper {
    margin-top: $spacing-small;

    @include nimbus--breakpoint(md) {
      margin-top: $spacing-medium;
    }
  }
}
