@import "../../styles/core";

// Links

.#{$prefix}--text {
  display: inline-block;

  &.#{$prefix}--text-size--base {
    @include nimbus--type("text-body");
  }

  &.#{$prefix}--text-size--small {
    @include nimbus--type("text-label");
  }

  &.#{$prefix}--text--block {
    display: block;
  }

  &.#{$prefix}--text--bold {
    font-weight: map-get($nimbus--font-weights, "bold");
  }

  &.#{$prefix}--text-align--left {
    text-align: left;
  }

  &.#{$prefix}--text-align--right {
    text-align: right;
  }

  &.#{$prefix}--text-align--center {
    text-align: center;
  }

  &.#{$prefix}--text-color--default {
    color: $color-body-text;
  }

  &.#{$prefix}--text-color--primary {
    color: $color-primary;
  }

  &.#{$prefix}--text-color--secondary {
    color: $color-secondary;
  }

  &.#{$prefix}--text-color--success {
    color: $color-success;
  }

  &.#{$prefix}--text-color--warning {
    color: $color-warning;
  }

  &.#{$prefix}--text-color--danger {
    color: $color-danger;
  }

  &.#{$prefix}--text-color--light {
    color: $color-grey-60;
  }

  @mixin text-background($color) {
    background-color: $color;
    border-radius: $actions-border-radius;
    color: $color-body-text;
    display: block;
    padding: $spacing-x-small;
  }

  &.#{$prefix}--text-background--default {
    @include text-background(#fafafa);
  }

  &.#{$prefix}--text-background--primary {
    @include text-background($color-primary-light);
  }

  &.#{$prefix}--text-background--secondary {
    @include text-background($color-secondary-light);
  }

  &.#{$prefix}--text-background--success {
    @include text-background($color-success-light);
  }

  &.#{$prefix}--text-background--warning {
    @include text-background($color-warning-light);
  }

  &.#{$prefix}--text-background--danger {
    @include text-background($color-danger-light);
  }

  &.#{$prefix}--text-background--light {
    @include text-background($color-default);
  }
}

.#{$prefix}--text-skeleton--small {
  @include nimbus--skeleton($spacing-small, 40px, $spacing-xx-small, 0);
}

.#{$prefix}--text-skeleton--medium {
  @include nimbus--skeleton($spacing-small, 80px, $spacing-xx-small, 0);
}

.#{$prefix}--text-skeleton--large {
  @include nimbus--skeleton($spacing-small, 120px, $spacing-xx-small, 0);
}

.#{$prefix}--text-skeleton--fill {
  @include nimbus--skeleton($spacing-small, 100%, $spacing-xx-small, 0);
}
