@import "../../styles/core";

// Links

.#{$prefix}--text {
  display: inline-block;
}

.#{$prefix}--text_regular {
  @include nimbus--type("text-body");
  color: $color-body-text;
}

.#{$prefix}--text_small {
  @include nimbus--type("text-label");
  color: $color-body-text;
}
