/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  outline: none;
  box-sizing: border-box;
  border: none; }

.nimbus--input {
  font-family: "CentraNube", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .nimbus--input label {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    color: #473C41; }
  .nimbus--input input {
    padding: 0.5rem;
    width: 100%;
    font-size: 1rem;
    text-align: left;
    background-color: transparent;
    color: #2C3357;
    border: 1px solid #BFBBBD;
    border-radius: 0.5rem;
    transition: 0.15s ease; }
    .nimbus--input input::placeholder {
      color: #BFBBBD; }
    .nimbus--input input:focus {
      border-color: #2C3357; }
