@import "../../styles/core";

// Inputs

.#{$prefix}--input__label {
  color: $color-text;
  display: block;
  font-family: $nimbus-font-family;
  font-size: $nimbus-font-size-02;
  margin-bottom: $nimbus-grid-spacer-02;
  width: 100%;
}

.#{$prefix}--input {
  position: relative;

  .#{$prefix}--input__prepend,
  .#{$prefix}--input__append {
    appearance: none;
    background: none;
    padding: $nimbus-grid-spacer-02;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    svg {
      fill: $color-light;
    }
  }

  .#{$prefix}--input__prepend {
    left: 0;
  }

  .#{$prefix}--input__append {
    right: 0;
  }

  .#{$prefix}--input__field {
    background-color: transparent;
    border: 1px solid $color-light;
    border-radius: $nimbus-grid-spacer-02;
    color: $color-primary;
    font-size: $nimbus-font-size-03;
    line-height: $nimbus-font-line-height-02;
    padding: $nimbus-grid-spacer-02;
    text-align: left;
    transition: 0.15s ease;
    width: 100%;

    &::placeholder {
      color: $color-light;
    }

    &:focus {
      border-color: $color-primary;

      ~ .#{$prefix}--input__prepend svg,
      ~ .#{$prefix}--input__append svg {
        fill: $color-primary;
      }
    }

    &::-webkit-search-cancel-button {
      appearance: none;
    }
  }

  .#{$prefix}--input__field[type="search"] {
    padding-left: $nimbus-grid-spacer-05;
    padding-right: $nimbus-grid-spacer-05;
  }
}
