@import "../../styles/core";

// Inputs

.#{$prefix}--input-validation--error {
  .#{$prefix}--input {
    .#{$prefix}--input__append svg {
      fill: $color-danger-pure;
    }

    .#{$prefix}--input__field {
      border-color: $color-danger-pure;
      padding-right: $spacing-large;
      ~ .#{$prefix}--input--color--container {
        border-color: $color-danger-pure;
        border-right-color: $color-grey-50;
      }

      &:focus {
        border-color: $color-danger-active;
        box-shadow: 0 0 0 $input-border-width $color-danger-active;

        ~ .#{$prefix}--input--color--container {
          border-color: $color-primary-active;
          border-right-color: $color-grey-50;
        }

        ~ .#{$prefix}--input__append svg {
          fill: $color-danger-pure;
        }
      }
    }
  }
}

.#{$prefix}--input-validation--loading {
  .#{$prefix}--input {
    .#{$prefix}--input__field {
      padding-right: $spacing-large;
    }
  }
}


.#{$prefix}--input-validation--success {
  .#{$prefix}--input {
    .#{$prefix}--input__append svg {
      fill: $color-success-pure;
    }

    .#{$prefix}--input__field {
      border-color: $color-success-pure;
      padding-right: $spacing-large;
      ~ .#{$prefix}--input--color--container {
        border-color: $color-success-pure;
        border-right-color: $color-grey-50;
      }

      &:focus {
        border-color: $color-success-active;
        box-shadow: 0 0 0 $input-border-width $color-success-active;

        ~ .#{$prefix}--input--color--container {
          border-color: $color-success-active;
          border-right-color: $color-grey-50;
        }

        ~ .#{$prefix}--input__append svg {
          fill: $color-success-pure;
        }
      }
    }
  }
}

.#{$prefix}--input-warning {
  .#{$prefix}--input {
    .#{$prefix}--input__append svg {
      fill: $color-warning-pure;
    }

    .#{$prefix}--input__field {
      background-color: $color-warning-lighter;
      border-color: $color-warning-pure;
      ~ .#{$prefix}--input--color--container {
        border-color: $color-warning-pure;
        border-right-color: $color-grey-50;
      }

      &:focus {
        border-color: $color-warning-pure;
        box-shadow: 0 0 0 $input-border-width $color-warning-pure;

        ~ .#{$prefix}--input--color--container {
          border-color: $color-warning-pure;
          border-right-color: $color-grey-50;
        }

        ~ .#{$prefix}--input__append svg {
          fill: $color-warning-pure;
        }
      }
    }
  }
}

.#{$prefix}--input-danger {
  .#{$prefix}--input {
    .#{$prefix}--input__append svg {
      fill: $color-danger-pure;
    }

    .#{$prefix}--input__field {
      background-color: $color-danger-lighter;
      border-color: $color-danger-pure;

      ~ .#{$prefix}--input--color--container {
        border-color: $color-danger-pure;
        border-right-color: $color-grey-50;
      }

      &:focus {
        border-color: $color-danger-pure;
        box-shadow: 0 0 0 $input-border-width $color-danger-pure;

        ~ .#{$prefix}--input--color--container {
          border-color: $color-danger-pure;
          border-right-color: $color-grey-50;
        }

        ~ .#{$prefix}--input__append svg {
          fill: $color-danger-pure;
        }
      }
    }
  }
}

.#{$prefix}--input__label {
  @include nimbus--type("text-small-tight");
  color: $color-body-text;
  display: block;
  margin-bottom: $spacing-x-small;
  width: 100%;

  .#{$prefix}--input__label-icon {
    display: inline-block;
    margin-right: $spacing-xx-small;

    svg {
      fill: $color-body-text;
      height: 12px;
      margin-top: -2px;
      width: 12px;
    }
  }
}

.#{$prefix}--input__container {
  display: flex;
  width: 100%;

  .#{$prefix}--input__prepend,
  .#{$prefix}--input__append {
    @include nimbus--type("text-label-tight");
    background-color: $color-default;
    border-color: $input-border-color;
    border-style: solid;
    color: $color-body-text;
    flex: 0 0 auto;
    line-height: 1rem;
    padding: $spacing-x-small;
  }

  .#{$prefix}--input__prepend {
    border-bottom-left-radius: $actions-border-radius;
    border-top-left-radius: $actions-border-radius;
    border-width: $input-border-width 0 $input-border-width $input-border-width;
  }

  .#{$prefix}--input__append {
    border-bottom-right-radius: $actions-border-radius;
    border-top-right-radius: $actions-border-radius;
    border-width: $input-border-width $input-border-width $input-border-width 0;
  }

  .#{$prefix}--input {
    flex: 1 1 auto;

    &:not(:first-child) {
      > .#{$prefix}--input__field {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }

    &:not(:last-child) {
      > .#{$prefix}--input__field {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }

  + .#{$prefix}--text {
    margin-top: $spacing-x-small;
  }
}

.#{$prefix}--input__container:focus-within {
  .#{$prefix}--input__prepend,
  .#{$prefix}--input__append {
    @include nimbus--type("text-label-tight");
    background-color: $color-primary-active;
    border: 1px solid;
    border-color: $color-primary-active;
    box-shadow: 0 0 0 1px $color-primary-active;
    color: $color-background;
    line-height: 1rem;
  }

  .#{$prefix}--input__append__inside__icon {
    background-color: transparent;
    border: 0;
    box-shadow: 0 0 0;
  }
}

.#{$prefix}--input {
  display: flex;
  position: relative;

  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  input[type="color"]::-webkit-color-swatch {
    border: 0;
  }

  .#{$prefix}--input__prepend,
  .#{$prefix}--input__append {
    appearance: none;
    background: none;
    border-color: transparent;
    padding: $spacing-x-small;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    svg {
      fill: $input-border-color;
      margin-top: -2px;
    }
  }

  .#{$prefix}--input__prepend {
    left: 0;
  }

  .#{$prefix}--input__append {
    right: 0;
  }

  .#{$prefix}--input__spinner {
    svg {
      fill: transparent;
    }
  }

  .#{$prefix}--input__password {
    cursor: pointer;
  }

  .#{$prefix}--input--color--container {
    background: transparent;
    border: 1px solid $color-grey-50;

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 0;

    height: 42px;
    overflow: hidden;
    position: absolute;
    width: 42px;

    .#{$prefix}--input--color {
      border: 0;
      border-radius: 0;
      height: 100%;
      width: 100%;
    }
  }

  .#{$prefix}--input--color--container + input {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .#{$prefix}--input__field {
    @include nimbus--type("text-label-tight");
    appearance: none;
    background-color: transparent;
    border: $input-border-width solid $input-border-color;
    border-radius: $actions-border-radius;
    color: $color-secondary-pure;
    line-height: 1rem;
    padding: $spacing-x-small;
    text-align: left;
    transition: $motion-fast ease;
    width: 100%;

    &.with-prepend {
      padding-left: $spacing-large;
    }

    &.with-color {
      padding-left: $spacing-xx-large;
    }

    &.with-append {
      padding-right: $spacing-large;
    }

    &::placeholder {
      color: $input-border-color;
    }

    &:disabled,
    &:hover:disabled,
    &:focus:disabled {
      background-color: $input-disabled-background;
      color: $input-disabled-text;
      cursor: not-allowed;
      pointer-events: none;

      &::placeholder {
        color: $input-disabled-text;
      }
    }

    &:read-only,
    &:hover:read-only,
    &:focus:read-only {
      background-color: $input-disabled-background;
      color: $input-disabled-text;

      &::placeholder {
        color: $input-disabled-text;
      }
    }

    &:focus {
      border-color: $color-primary-active;
      box-shadow: 0 0 0 $input-border-width $color-primary-active;

      ~ .#{$prefix}--input--color--container {
        border-color: $color-primary-active;
        border-right-color: $color-grey-50;
      }

      ~ .#{$prefix}--input__prepend svg,
      ~ .#{$prefix}--input__append svg {
        fill: $color-secondary-pure;
      }

      ~ .#{$prefix}--input__spinner svg {
        fill: transparent;
      }
    }

    &::-webkit-search-cancel-button {
      appearance: none;
    }
  }

  + .#{$prefix}--text {
    margin-top: $spacing-x-small;
  }
}

@mixin nimbus--input-skeleton-rows {
  @for $i from 1 through 10 {
    &-#{$i} {
      .#{$prefix}--input-skeleton__field {
        @include nimbus--skeleton(
          $i * $spacing-medium + $spacing-small + 2px,
          100%,
          0,
          0
        );
      }
    }
  }
}

.#{$prefix}--input-skeleton {
  display: block;
  width: 100%;

  &.rows {
    @include nimbus--input-skeleton-rows;
  }

  .#{$prefix}--input-skeleton__label {
    @include nimbus--skeleton(14px, 80px, 4px, 0);
  }

  .#{$prefix}--input-skeleton__field {
    border-radius: $actions-border-radius;
  }
}
