@import "../../styles/core";

// Spinner mixins

$nimbus--spinner-color: (
  "primary": $color-primary,
  "secondary": $color-secondary,
  "danger": $color-danger,
) !default;

$nimbus--spinner-size: (
  "small": $spacing-x-small,
  "base": $spacing-small,
  "medium": $spacing-medium,
  "large": $spacing-large,
) !default;

@mixin nimbus--spinner-color {
  @each $name, $color in $nimbus--spinner-color {
    &--#{$name} {
      color: $color;
    }
  }
}

@mixin nimbus--spinner-size {
  @each $name, $size in $nimbus--spinner-size {
    &--#{$name} {
      height: $size;
      width: $size;

      &::before,
      &::after {
        height: #{$size + 2px};
        width: #{$size / 2 + 1px};
      }

      &::before {
        transform-origin: #{$size / 2 + 1px} #{$size / 2 + 1px};
      }

      &::after {
        left: #{$size / 2 + 1px};
        transform-origin: 0 #{$size / 2 + 1px};
      }
    }
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// Spinner

.#{$prefix}--spinner {
  @include nimbus--spinner-color;
  @include nimbus--spinner-size;
  border-radius: 50%;
  box-shadow: inset 0 0 0 $spacing-xx-small;
  display: inline-block;
  position: relative;
  transition: $button-hover-delay ease;

  &::before,
  &::after {
    background-color: $color-background;
    content: "";
    position: absolute;
    top: -1px;
    transition: $button-hover-delay ease;
  }

  &::before {
    animation: spinner 1.25s infinite ease 1s;
    border-radius: 100% 0 0 100%;
    left: -1px;
  }

  &::after {
    animation: spinner 1.25s infinite ease;
    border-radius: 0 100% 100% 0;
  }
}
