@import "../../styles/core";

// Spinner mixins

$nimbus--spinner-color: (
  "primary": $color-primary-pure,
  "secondary": $color-secondary-pure,
  "danger": $color-danger-pure,
  "light": $color-background,
) !default;

$nimbus--spinner-size: (
  "small": $spacing-x-small,
  "base": $spacing-small,
  "medium": $spacing-medium,
  "large": $spacing-large,
) !default;

@mixin nimbus--spinner-color {
  @each $name, $color in $nimbus--spinner-color {
    &--#{$name} {
      .#{$prefix}--spinner__left,
      .#{$prefix}--spinner__right {
        stroke: $color;
      }
    }
  }
}

@mixin nimbus--spinner-size {
  @each $name, $size in $nimbus--spinner-size {
    &--#{$name} {
      height: $size;
      width: $size;
    }
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// Spinner

.#{$prefix}--spinner {
  @include nimbus--spinner-color;
  @include nimbus--spinner-size;
  display: inline-block;
  fill: none;
  position: relative;
  transition: $button-hover-delay ease;

  .#{$prefix}--spinner__left,
  .#{$prefix}--spinner__right {
    stroke-width: 3px;
    transform-origin: center;
    transition: $button-hover-delay ease;
  }

  .#{$prefix}--spinner__left {
    animation: spinner 1.25s infinite ease 1s;
  }

  .#{$prefix}--spinner__right {
    animation: spinner 1.25s infinite ease;
  }
}
