@import "../../styles/core";

// Popover

.#{$prefix}--popover {
  display: block;
  position: relative;
}

.#{$prefix}--popover-wrapper {
  background-color: $color-background;
  border: $input-border-width solid $color-default;
  border-radius: $actions-border-radius;
  box-shadow: 0 0 20px 0 $color-grey-0;
  display: block;
  left: 0;
  margin-top: $spacing-x-small;
  max-width: 280px;
  opacity: 1;
  overflow: hidden;
  padding: $spacing-x-small;
  position: absolute;
  right: initial;
  top: 100%;
  transition: opacity $motion-base ease, visibility 0s linear;
  visibility: visible;
  width: 280px;
  z-index: 500;

  &.position--right {
    left: initial;
    right: 0;
  }

  .#{$prefix}--popover-header,
  .#{$prefix}--popover-body {
    padding: $spacing-x-small;
  }

  .#{$prefix}--popover-body {
    > *:not(:last-of-type) {
      margin-bottom: $spacing-small;
    }
  }

  .#{$prefix}--popover-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: -$spacing-x-small;

    .#{$prefix}--link {
      border-radius: $spacing-xx-small;
      padding: $spacing-x-small;
      width: 100%;

      &.#{$prefix}--link--primary {
        background-color: $color-primary-lighter;

        &:hover {
          background-color: darken($color-primary-lighter, 1);
        }
      }
    }
  }
}

.#{$prefix}--popover-skeleton {
  @include nimbus--skeleton($spacing-small, 80px, $spacing-xx-small, 0);
}
