@import "../../styles/core";

// Image Gallery

$gallery-size: 104px;
$gallery-border-width: 2px;

.#{$prefix}--image-gallery__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$spacing-xx-small;
  margin-right: -$spacing-xx-small;
  margin-top: -$spacing-x-small;
}

.#{$prefix}--image-gallery__empty {
  > .#{$prefix}--image-gallery-item {
    padding: 0;

    > .#{$prefix}--image-gallery__file-button {
      background-color: transparent;
      border: $gallery-border-width dashed $input-border-color;
      border-radius: $actions-border-radius;
      height: $gallery-size;
      position: static;
      width: 100%;

      /* stylelint-disable-next-line selector-max-compound-selectors */
      svg {
        fill: $color-secondary;
      }

      &.is--loading {
        border-color: $color-default;
      }
    }
  }

  .#{$prefix}--image-gallery-skeleton {
    @include nimbus--skeleton(
      $height: $gallery-size,
      $width: 100%,
      $vertical-margin: 0,
      $horizontal-margin: 0
    );
  }
}

.#{$prefix}--image-gallery__spinner {
  @include nimbus--spinner(
    $spinner-color: $color-secondary,
    $bg-color: #fafafa,
    $size: "medium"
  );
}

.#{$prefix}--image-gallery-item__wrapper {
  flex: 0 0 percentage(1 / 3);
  margin-top: $spacing-x-small;
  max-width: percentage(1 / 3);
  padding-left: $spacing-xx-small;
  padding-right: $spacing-xx-small;
  width: percentage(1 / 3);

  @include nimbus--breakpoint(576px) {
    flex: 1 1 percentage(1 / 4);
    max-height: $gallery-size;
    max-width: $gallery-size;
    width: percentage(1 / 4);
  }
}

.#{$prefix}--image-gallery-item {
  border-radius: $actions-border-radius;
  overflow: hidden;
  padding-top: 100%;
  position: relative;

  > .#{$prefix}--image-gallery__file-button {
    background-color: $color-default;
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    svg {
      fill: $color-grey-35;
    }
  }
}

.#{$prefix}--image-gallery-item__image {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.#{$prefix}--image-gallery-item__delete {
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin-right: -$spacing-xx-small;
  margin-top: -$spacing-xx-small;
  padding: $spacing-x-small;
  position: absolute;
  right: 0;
  top: 0;
}

.#{$prefix}--image-gallery-item__delete-button {
  background-color: rgba($color-default, 0.8);
  border-radius: 100%;
  display: block;
  padding: $spacing-x-small;

  svg {
    fill: $color-primary;
  }
}

.#{$prefix}--image-gallery__file-button {
  align-items: center;
  appearance: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;

  input[type="file"] {
    display: none;
  }

  &.is--loading {
    background-color: #fafafa;
    cursor: not-allowed;
  }
}

.#{$prefix}--image-gallery-skeleton__wrapper {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.#{$prefix}--image-gallery-skeleton {
  @include nimbus--skeleton(
    $height: 100%,
    $width: 100%,
    $vertical-margin: 0,
    $horizontal-margin: 0
  );
  border-radius: $actions-border-radius;
}
