@import "../NimbusCore/nimbus-core";

// Title

.#{$prefix}--title {
  display: inline-block;
  font-family: $font-family;
  font-weight: 500;
  font-size: $font-size-07;
  text-align: left;
  color: $text-gray;
}
