@import "../../styles/core";

// Select

// TODO: @Juan Replace these classes with shared values from input component

.#{$prefix}--input__label {
  @include nimbus--type("text-label");
  color: $color-body-text;
  display: block;
  margin-bottom: $spacing-x-small;
  width: 100%;
}

.#{$prefix}--input {
  position: relative;

  .#{$prefix}--input__append {
    padding: $spacing-x-small;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    svg {
      fill: $input-border-color;
    }
  }

  .#{$prefix}--select {
    @include nimbus--type("text-body");
    appearance: none;
    background-color: transparent;
    border: $input-border-width solid $input-border-color;
    border-radius: $actions-border-radius;
    color: $color-secondary;
    padding: $spacing-x-small;
    text-align: left;
    transition: $motion-fast ease;
    width: 100%;

    &::placeholder {
      color: $input-border-color;
    }

    &:disabled,
    &:hover:disabled,
    &:focus:disabled {
      background-color: $input-disabled-background;
      color: $input-disabled-text;
      cursor: not-allowed;
      pointer-events: none;

      &::placeholder {
        color: $input-disabled-text;
      }
    }

    &:focus {
      border-color: $color-primary-active;
      box-shadow: 0 0 0 $input-border-width $color-primary-active;

      ~ .#{$prefix}--input__prepend svg,
      ~ .#{$prefix}--input__append svg {
        fill: $color-secondary;
      }
    }
  }
}
