@import url("../../../node_modules/@tiendanube/design-tokens-nimbus/dist/css/variables.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.fullscreen-container {
  height: 100vh;
}

.stick-to-bottom {
  bottom: 0;
  display: block;
  left: 0;
  position: fixed;
  width: 100%;
}

.nimbus--welcome-story {
  background-color: var(--color-blue-dark);
  height: 100vh;
  overflow: hidden;
  padding: var(--spacing-medium);
}

@media (min-width: 672px) {
  .nimbus--welcome-story {
    padding: var(--spacing-xx-large);
  }
}

.nimbus--welcome-story h1 {
  color: var(--color-white);
  font-size: var(--spacing-x-large);
  font-weight: var(--font-weight-regular);
}

.nimbus--welcome-story h1:first-of-type {
  font-weight: var(--font-weight-bold);
  margin-top: var(--spacing-medium);
}

.nimbus--welcome-story h3 {
  color: var(--color-white);
  margin-top: var(--spacing-medium);
}
