* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.separate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px;
}

.fullscreen-container {
  height: 100vh;
}
