@import "../../styles/core";

// Table

.#{$prefix}--table-wrapper {
  @include nimbus--breakpoint-down(md) {
    margin-left: -$spacing-small;
    margin-right: -$spacing-small;
  }

  &.#{$prefix}--table-wrapper--ruled {
    @include nimbus--breakpoint(md) {
      border: $input-border-width solid $color-default;
      border-radius: $actions-border-radius;
    }
  }

  .#{$prefix}--table__mass-actions {
    @include nimbus--safe-area($spacing-x-small);

    align-items: center;
    background-color: $color-default;
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: $spacing-x-small;
    padding-left: $spacing-x-small;
    padding-right: $spacing-x-small;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 800;

    @include nimbus--breakpoint(md) {
      padding-top: $spacing-x-small;
      position: sticky;
    }

    > * {
      padding-left: $spacing-x-small;
      padding-right: $spacing-x-small;
    }

    .#{$prefix}--table__mass-select {
      flex: 1 1 auto;
      max-width: 360px;
    }
  }
}

.#{$prefix}--table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  .#{$prefix}--table__header {
    @include nimbus--breakpoint-down(md) {
      border: 0;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      visibility: inherit;
      white-space: nowrap;
      width: 1px;
    }

    .#{$prefix}--text {
      color: $color-body-text;
    }
  }

  .#{$prefix}--table__body {
    margin-left: -$spacing-small;
    margin-right: -$spacing-small;
  }

  th {
    .#{$prefix}--text,
    .#{$prefix}--link,
    .#{$prefix}--button {
      @include nimbus--type("text-heading");
    }
  }
}

// TableRow

.#{$prefix}--table-wrapper--ruled {
  .#{$prefix}--table-row {
    border-bottom: 1px solid $color-default;

    &:first-child {
      border-top: 1px solid $color-default;
    }
  }
}

.#{$prefix}--table-wrapper--edit-mode {
  .#{$prefix}--table-row {
    * {
      pointer-events: none;
    }
  }
}

.#{$prefix}--table-wrapper--spacing-base {
  &.#{$prefix}--table-wrapper--actions {
    .#{$prefix}--table-row {
      @include nimbus--breakpoint-down(md) {
        padding: $spacing-small $spacing-x-small $spacing-small $spacing-x-large;
      }

      .#{$prefix}--table-row__check {
        width: $spacing-xx-large;

        @include nimbus--breakpoint-down(md) {
          padding: $spacing-small $spacing-x-small 0 $spacing-small;
        }
      }
    }
  }

  .#{$prefix}--table-row {
    @include nimbus--breakpoint-down(md) {
      padding: $spacing-small $spacing-x-small;
    }

    .#{$prefix}--table-row__item {
      padding: $spacing-small $spacing-x-small;
      position: relative;

      @include nimbus--breakpoint-down(md) {
        padding: 0 $spacing-x-small;
      }
    }
  }
}

.#{$prefix}--table-wrapper--spacing-tight {
  &.#{$prefix}--table-wrapper--actions {
    .#{$prefix}--table-row {
      @include nimbus--breakpoint-down(md) {
        padding: $spacing-x-small $spacing-x-small $spacing-x-small
          $spacing-large;
      }

      .#{$prefix}--table-row__check {
        width: $spacing-x-large;

        @include nimbus--breakpoint-down(md) {
          padding: $spacing-x-small $spacing-xx-small 0 $spacing-x-small;
        }
      }
    }
  }

  .#{$prefix}--table-row {
    @include nimbus--breakpoint-down(md) {
      padding: $spacing-x-small;
    }

    .#{$prefix}--table-row__item {
      padding: $spacing-x-small;

      @include nimbus--breakpoint-down(md) {
        padding: 0 $spacing-x-small;
      }
    }
  }
}

.#{$prefix}--table-row {
  @include nimbus--breakpoint-down(md) {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .#{$prefix}--table-row__check {
    padding-left: $spacing-small;
    padding-right: $spacing-x-small;

    @include nimbus--breakpoint-down(md) {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  &.#{$prefix}--table-row--grayed {
    background-color: #fafafa;
  }

  .#{$prefix}--table-row__item {
    text-align: left;

    &.#{$prefix}--table-row__item--trim-text {
      .#{$prefix}--text {
        @include nimbus--text-trim(2);
        text-align: inherit;

        @include nimbus--breakpoint(md) {
          max-width: 160px;
          white-space: nowrap;
        }
      }
    }

    &.#{$prefix}--table-row__item--fill-width {
      @include nimbus--breakpoint-down(md) {
        flex: 1 1 auto;
      }
    }

    &.#{$prefix}--table-row__item--auto-width {
      @include nimbus--breakpoint-down(md) {
        flex: 0 0 auto;
      }
    }

    @for $n from 0 through 100 {
      &.#{$prefix}--table-row__item--#{$n}-width {
        @include nimbus--breakpoint-down(md) {
          flex: 1 1 percentage($n / 100);
          max-width: percentage($n / 100);
        }
      }
    }

    &.#{$prefix}--table-row__item--align-right {
      @include nimbus--breakpoint-down(md) {
        text-align: right;
      }
    }

    &.#{$prefix}--table-row__item--extra-padding {
      @include nimbus--breakpoint-down(md) {
        padding: $spacing-x-small 0 0 $spacing-x-small;
      }
    }
  }
}

.#{$prefix}--table-row--touching {
  background-color: #fafafa;
  overflow: hidden;
  transition: $motion-fast ease;

  &::before {
    @include nimbus--breakpoint-down(md) {
      animation: pulse 2.5s 1 0.5s ease;
      background-color: $color-default;
      border-radius: 100%;
      content: "";
      display: block;
      height: 24px;
      left: 50%;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 24px;
    }
  }
}

.#{$prefix}--spinner-wrapper {
  padding: $spacing-medium 0;
  position: relative;
  text-align: center;
  width: 100%;
}

.#{$prefix}--spinner {
  @include nimbus--spinner($spinner-color: $color-primary, $size: "large");
}
