// Mixins

// Font Styles

@mixin nimbus--font-style {
  font-family: $font-family;
  text-align: left;
}

// Breakpoints
//
// Get the value of the next breakpoint or null if last breakpoint
@function nimbus--breakpoint-next(
  $name,
  $breakpoints: $nimbus--grid-breakpoints,
  $breakpoint-names: map-keys($breakpoints)
) {
  $n: index($breakpoint-names, $name);
  @if $n != null and $n < length($breakpoint-names) {
    @return nth($breakpoint-names, $n + 1);
  }
  @return null;
}

// Get the value of the previous breakpoint or null if first breakpoint
@function nimbus--breakpoint-prev(
  $name,
  $breakpoints: $nimbus--grid-breakpoints,
  $breakpoint-names: map-keys($breakpoints)
) {
  $n: index($breakpoint-names, $name);
  @if $n != null and $n > 1 {
    @return nth($breakpoint-names, $n - 1);
  }
  @return null;
}

// Check if smallest breakpoint
@function nimbus--is-smallest-breakpoint(
  $name,
  $breakpoints: $nimbus--grid-breakpoints
) {
  @return index(map-keys($breakpoints), $name) == 1;
}

// Returns largest breakpoint name
@function nimbus--largest-breakpoint-name(
  $breakpoints: $nimbus--grid-breakpoints
) {
  $total-breakpoints: length($breakpoints);
  @return nimbus--key-by-index($breakpoints, $total-breakpoints);
}

// This function gets the index of a given breakpoint in a list of breakpoints
@function nimbus--breakpoint-index($name) {
  @return "-#{$name}";
}

// Generate a media query up to the width of the breakpoint name
@mixin nimbus--breakpoint-up($name, $breakpoints: $nimbus--grid-breakpoints) {
  @if type-of($name) == "number" {
    @media (min-width: $name) {
      @content;
    }
  } @else if map-has-key($breakpoints, $name) {
    $breakpoint: map-get($breakpoints, $name);
    $width: map-get($breakpoint, width);
    @if nimbus--is-smallest-breakpoint($name, $breakpoints) {
      @content;
    } @else {
      @media (min-width: $width) {
        @content;
      }
    }
  }
}

// Generate a media query for the maximum width of the given styles
@mixin nimbus--breakpoint-down($name, $breakpoints: $nimbus--grid-breakpoints) {
  @if type-of($name) == "number" {
    @media (max-width: $name) {
      @content;
    }
  } @else if map-has-key($breakpoints, $name) {
    $breakpoint: map-get($breakpoints, $name);
    $width: map-get($breakpoint, width) - 1;
    @media (max-width: $width) {
      @content;
    }
  }
}

// Generate a media query for the largest breakpoint
@mixin nimbus--largest-breakpoint($breakpoints: $nimbus--grid-breakpoints) {
  @include nimbus--breakpoint(nimbus--largest-breakpoint-name()) {
    @content;
  }
}

// Generate a media query for a given breakpoint
@mixin nimbus--breakpoint($name, $breakpoints: $nimbus--grid-breakpoints) {
  @include nimbus--breakpoint-up($name, $breakpoints) {
    @content;
  }
}
