@import "../NimbusCore/nimbus-core";

// Links

.#{$prefix}--text {
  display: inline-block;
  font-family: $font-family;
  font-size: $font-size-base;
  color: black;
  &_small {
    font-size: 10px;
  }
}
