@import "../../../node_modules/@tiendanube/design-tokens-nimbus/dist/scss/variables";

$nimbus--colors: (
  "blue-deep": $color-blue-deep,
  "blue-dark": $color-blue-dark,
  "blue-dark-light": $color-blue-dark-light,
  "blue-sky": $color-blue-sky,
  "blue-primary": $color-blue-primary,
  "blue-primary-light": $color-blue-primary-light,
  "green": $color-green,
  "green-light": $color-green-light,
  "yellow": $color-yellow,
  "yellow-light": $color-yellow-light,
  "red": $color-red,
  "red-light": $color-red-light,
  "grey-100": $color-grey-100,
  "grey-85": $color-grey-85,
  "grey-60": $color-grey-60,
  "grey-35": $color-grey-35,
  "grey-0": $color-grey-0,
  "white": $color-white,
  "black": $color-black,
) !default;

// Contrast Colors
//
// For the contrast function

$contrast-dark: $color-blue-dark;
$contrast-light: $color-grey-0;
$contrast-threshold: 150;

// Typography
//
// Defining text maps to generate font styles

$nimbus--body-sizes: (
  "smaller": $font-size-x-small,
  "small": $font-size-small,
  "base": $font-size-medium,
) !default;

$nimbus--title-sizes: (
  "h1": $font-size-xxx-large,
  "h2": $font-size-xx-large,
  "h3": $font-size-x-large,
  "h4": $font-size-large,
  "h5": $font-size-medium,
  "h6": $font-size-small,
) !default;

$nimbus--font-weights: (
  "regular": $font-weight-regular,
  "bold": $font-weight-bold,
) !default;

$nimbus--line-heights: (
  "base": $font-line-height-base,
  "heading": $font-line-height-heading,
  "body": $font-line-height-body,
) !default;

$base-font-size: $font-size-medium;

// Spacing
//
// Defining sizing for Nimbus' grid system

$nimbus--spacers: (
  "xx-small": $spacing-xx-small,
  "x-small": $spacing-x-small,
  "small": $spacing-small,
  "medium": $spacing-medium,
  "large": $spacing-large,
  "x-large": $spacing-x-large,
  "xx-large": $spacing-xx-large,
  "xxx-large": $spacing-xxx-large,
) !default;

$spacing-gutter: $spacing-gutter;

// Breakpoints

$nimbus--grid-breakpoints: (
  xs: (
    margin: $breakpoint-xs-margin,
    width: $breakpoint-xs-width,
  ),
  md: (
    margin: $breakpoint-md-margin,
    width: $breakpoint-md-width,
  ),
  lg: (
    margin: $breakpoint-lg-margin,
    width: $breakpoint-lg-width,
  ),
) !default;

// Motion
//
// Defining time values for animations and transitions

$nimbus--motion: (
  "fast": $motion-fast,
  "base": $motion-base,
  "slow": $motion-slow,
  "slower": $motion-slower,
) !default;
