@import "../../styles/core";

/* stylelint-disable max-nesting-depth */

// Table

// Structure
//
// Wrapper

.#{$prefix}--data-list-wrapper {
  margin-left: -$spacing-small;
  margin-right: -$spacing-small;

  @include nimbus--breakpoint(md) {
    margin: 0;
  }

  .#{$prefix}--data-list__mass-actions {
    @include nimbus--safe-area($spacing-x-small);

    align-items: center;
    background-color: $color-default;
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: $spacing-x-small;
    padding-left: $spacing-x-small;
    padding-right: $spacing-x-small;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 800;

    @include nimbus--breakpoint(md) {
      padding-top: $spacing-x-small;
      position: sticky;
    }

    > * {
      padding-left: $spacing-x-small;
      padding-right: $spacing-x-small;
    }

    .#{$prefix}--data-list__mass-select {
      flex: 1 1 auto;
      max-width: 360px;
    }
  }
}

.#{$prefix}--data-list {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  width: 100%;
}

.#{$prefix}--data-list__header {
  display: table-header-group;

  @include nimbus--breakpoint-down(md) {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    visibility: inherit;
    white-space: nowrap;
    width: 1px;
  }
}

.#{$prefix}--data-list__body {
  display: table-row-group;
  margin-left: -$spacing-small;
  margin-right: -$spacing-small;

  @include nimbus--breakpoint(md) {
    margin: 0;
  }
}

// Row

.#{$prefix}--data-list-row {
  display: table-row;

  @include nimbus--breakpoint-down(md) {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    transition: padding $motion-fast ease;
  }

  .#{$prefix}--data-list-row__check-wrapper {
    @include nimbus--breakpoint-down(md) {
      display: none;
      left: 0;
      opacity: 0;
      position: absolute;
      top: $spacing-small;
      transform: translateX(-100%);
      transition: transform $motion-fast ease, opacity $motion-fast ease;

      &.is--visible {
        display: inline-block;
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

// Cell

.#{$prefix}--data-list-row__item {
  display: table-cell;
  position: relative;
  text-align: left;
  vertical-align: middle;

  @include nimbus--breakpoint-down(md) {
    display: inline-block;
  }
}

// Long tap interaction

.#{$prefix}--data-list-row--touching {
  background-color: $color-background-secondary;
  overflow: hidden;

  &::before {
    @include nimbus--breakpoint-down(md) {
      animation: pulse 2.5s 1 0.5s ease;
      background-color: $color-default;
      border-radius: 100%;
      content: "";
      display: block;
      height: 24px;
      left: 50%;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 24px;
    }
  }
}

// Spinner

.#{$prefix}--spinner-wrapper {
  padding: $spacing-medium 0;
  position: relative;
  text-align: center;
  width: 100%;
}

// Modifiers
//
// Wrapper

.#{$prefix}--data-list-wrapper {
  &.#{$prefix}--data-list-wrapper--edit-mode {
    .#{$prefix}--data-list-row {
      * {
        @include nimbus--breakpoint-down(md) {
          pointer-events: none;
        }
      }
    }
  }

  &.#{$prefix}--data-list-wrapper--ruled {
    @include nimbus--breakpoint(md) {
      border: $input-border-width solid $color-default;
      border-radius: $actions-border-radius;
    }

    .#{$prefix}--data-list__body {
      border-top: 1px solid $color-default;

      .#{$prefix}--data-list-row {
        border-bottom: 1px solid $color-default;
      }
    }
  }

  &.#{$prefix}--data-list-wrapper--spacing-base {
    &.#{$prefix}--data-list-wrapper--actions {
      .#{$prefix}--data-list-row {
        @include nimbus--breakpoint-down(md) {
          padding: $spacing-small $spacing-x-small $spacing-small
            $spacing-x-large;
        }
      }
    }

    .#{$prefix}--data-list-row {
      @include nimbus--breakpoint-down(md) {
        padding: $spacing-small $spacing-x-small;
      }

      .#{$prefix}--data-list-row__item {
        padding: $spacing-small $spacing-x-small;

        @include nimbus--breakpoint-down(md) {
          padding: 0 $spacing-x-small;
        }

        @include nimbus--breakpoint(md) {
          &:first-of-type {
            padding-left: $spacing-small;
          }

          &:last-of-type {
            padding-right: $spacing-small;
          }
        }

        &.#{$prefix}--data-list-row__item--extra-padding {
          @include nimbus--breakpoint-down(md) {
            padding: $spacing-x-small 0 0 $spacing-x-small;
          }
        }
      }
    }
  }

  &.#{$prefix}--data-list-wrapper--spacing-tight {
    &.#{$prefix}--data-list-wrapper--actions {
      .#{$prefix}--data-list-row {
        @include nimbus--breakpoint-down(md) {
          padding: $spacing-x-small $spacing-x-small $spacing-x-small
            $spacing-large;
        }
      }
    }

    .#{$prefix}--data-list-row {
      @include nimbus--breakpoint-down(md) {
        padding: $spacing-x-small;
      }

      .#{$prefix}--data-list-row__item {
        padding: $spacing-x-small;

        @include nimbus--breakpoint-down(md) {
          padding: 0 $spacing-x-small;
        }
      }
    }
  }
}

// Row

.#{$prefix}--data-list-row {
  &.#{$prefix}--data-list-row--grayed {
    background-color: $color-background-secondary;
  }
}

// Cell

.#{$prefix}--data-list-row__item {
  &.#{$prefix}--data-list-row__item--trim-text {
    .#{$prefix}--text {
      @include nimbus--text-trim(2);
      text-align: inherit;

      @include nimbus--breakpoint(md) {
        max-width: 160px;
        white-space: nowrap;
      }
    }
  }

  &.#{$prefix}--data-list-row__item--fill-width {
    @include nimbus--breakpoint-down(md) {
      flex: 1 1 auto;
    }
  }

  &.#{$prefix}--data-list-row__item--auto-width {
    @include nimbus--breakpoint-down(md) {
      flex: 0 0 auto;
    }
  }

  @for $n from 0 through 100 {
    &.#{$prefix}--data-list-row__item--#{$n}-width {
      @include nimbus--breakpoint-down(md) {
        flex: 1 1 percentage($n / 100);
        max-width: percentage($n / 100);
      }
    }
  }

  &.#{$prefix}--data-list-row__item--align-right {
    @include nimbus--breakpoint-down(md) {
      text-align: right;
    }
  }

  &.#{$prefix}--data-list-row__item--row-title {
    .#{$prefix}--text,
    .#{$prefix}--link,
    .#{$prefix}--button {
      @include nimbus--type("text-heading");
    }
  }
}
