@import "../../styles/core";

// Links

.#{$prefix}--link {
  @include nimbus--type("text-body");
  color: $color-primary;
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;
  transition: $button-hover-delay ease;

  &:disabled,
  &:hover:disabled,
  &:focus:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {
    color: $color-primary-hover;
  }

  &:active {
    color: $color-primary-active;
  }

  &:focus {
    color: $color-primary-active;
  }
}
