// Functions

// Color Contrast
//
// This function checks the color of a component against YIQ color contrast standard and returns a value

@function color-contrast(
  $color,
  $dark: $contrast-dark,
  $light: $contrast-light
) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $contrast: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @if ($contrast >= $contrast-threshold) {
    @return $dark;
  }

  @else {
    @return $light;
  }
}
