@import "../NimbusCore/nimbus-core";

// Links

.#{$prefix}--text {
  color: #000;
  display: inline-block;
  font-family: $font-family;
  font-size: $font-size-base;

  &_small {
    font-size: 10px;
  }
}
