@import "../../styles/core";

// Title Mixins

@function nimbus--font-size($size) {
  @return map-get($nimbus--font-sizes, $size);
}

@mixin nimbus--font-size($size) {
  font-size: nimbus--font-size($size);
}

@mixin nimbus--title-classes {
  @each $name, $value in $nimbus--title-sizes {
    .#{$prefix}--title-#{$name} {
      @include nimbus--font-style();

      color: $color-secondary;
      font-size: nimbus--rem($value);
      font-weight: 700;
      line-height: nimbus--rem($value * $font-line-height-heading);
    }
  }
}
