@import "../../styles/core";

// RadioButton

.#{$prefix}--radio-button-wrapper {
  .#{$prefix}--radio-button {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    &:checked + .#{$prefix}--radio-button-label {
      background-color: $color-primary;
      border-color: $color-primary;

      .#{$prefix}--text {
        color: #fff;
      }
    }

    &:disabled + .#{$prefix}--radio-button-label,
    &:hover:disabled + .#{$prefix}--radio-button-label,
    &:focus:disabled + .#{$prefix}--radio-button-label {
      cursor: not-allowed;
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .#{$prefix}--radio-button-label {
    background-color: $color-default;
    border: $button-border-width solid $color-default;
    border-radius: $spacing-xx-small;
    color: $color-secondary;
    cursor: pointer;
    display: inline-block;
    padding: $spacing-xx-small $spacing-x-small;
    transition: $button-hover-delay ease;

    &:hover {
      background-color: $color-default-hover;
      border-color: $color-default-hover;
    }

    &:active {
      background-color: $color-default-active;
      border-color: $color-default-active;
    }

    &:focus {
      border-color: $color-default-active;
      box-shadow: 0 0 0 $button-border-width $color-default-active;
    }
  }
}

// RadioButtonGroup

.#{$prefix}--radio-button-group-wrapper {
  > .#{$prefix}--text {
    @include nimbus--type("text-label");
    color: $color-body-text;
    margin-bottom: $spacing-x-small;
  }

  .#{$prefix}--radio-button-group {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1 * $spacing-xx-small;
    margin-right: -1 * $spacing-xx-small;

    .#{$prefix}--radio-button-wrapper {
      margin-bottom: $spacing-x-small;
      padding-left: $spacing-xx-small;
      padding-right: $spacing-xx-small;
    }
  }
}
