@import "../../styles/core";

// Page Title

.#{$prefix}--page-title {
  display: block;
  margin-bottom: $spacing-large;
  width: 100%;

  .#{$prefix}--page-subtitle {
    display: flex;
    flex-wrap: wrap;
    margin-top: $spacing-small;
  }

  .#{$prefix}--text + .#{$prefix}--link {
    margin-left: $spacing-x-small;
  }
}

@include nimbus--breakpoint(lg) {
  .#{$prefix}--page-title {
    margin-bottom: $spacing-xx-large;
  }
}
