@import "../../styles/core";

// Page Title

.#{$prefix}--page-title {
  display: block;
  width: 100%;

  .#{$prefix}--page-subtitle {
    display: flex;
    flex-wrap: wrap;
    margin-top: $spacing-small;
  }

  .#{$prefix}--text + .#{$prefix}--link {
    margin-left: $spacing-x-small;
  }
}

.#{$prefix}--page-title-skeleton {
  @include nimbus--skeleton($spacing-large, 120px, $spacing-xx-small, 0);
}
