@import "../../styles/core";

// Page

.#{$prefix}--page {
  padding-left: $spacing-gutter / 2;
  padding-right: $spacing-gutter / 2;
}

@include nimbus--breakpoint(md) {
  .#{$prefix}--page {
    padding-left: $spacing-gutter / 2 + $spacing-x-small;
    padding-right: $spacing-gutter / 2 + $spacing-x-small;
  }
}
