// Typography
//
// Defining basic styles and sizing for Nimbus type

$font-family: "CentraNube", "Helvetica Neue", helvetica, arial, sans-serif;
$font-size-base: 1rem;
$heading-line-height: $font-size-base * 1.25;
$text-line-height: $font-size-base * 1.5;
// TODO: Reemplazar estos valores con tokens
$nimbus-font-size-01: 12px;
$nimbus-font-size-02: 14px;
$nimbus-font-size-03: 16px;
$nimbus-font-size-04: 18px;
$nimbus-font-size-05: 20px;
$nimbus-font-size-06: 24px;
$nimbus-font-size-07: 32px;
$nimbus-font-line-height-01: 1.25;
$nimbus-font-line-height-02: 1.5;

$nimbus--title-sizes: (
  "01": $nimbus-font-size-07,
  "02": $nimbus-font-size-06,
  "03": $nimbus-font-size-05,
  "04": $nimbus-font-size-04,
  "05": $nimbus-font-size-03,
  "06": $nimbus-font-size-02,
);
