// Typography
//
// Defining basic styles and sizing for Nimbus type

$font-family: 'CentraNube', 'Helvetica Neue', helvetica, arial, sans-serif;
$font-size-base: 1rem;
$heading-line-height: $font-size-base * 1.25;
$text-line-height: $font-size-base * 1.5;
