@import "../../styles/core";

// Stack

.#{$prefix}--stack-wrapper {
  display: flex;
  flex-wrap: nowrap;

  > .#{$prefix}--stack-item {
    max-width: 100%;
  }

  &.justify-content--flex-start {
    justify-content: flex-start;
  }

  &.justify-content--center {
    justify-content: center;
  }

  &.justify-content--flex-end {
    justify-content: flex-end;
  }

  &.justify-content--space-between {
    justify-content: space-between;
  }

  &.align-items--flex-start {
    align-items: flex-start;
  }

  &.align-items--center {
    align-items: center;
  }

  &.align-items--flex-end {
    align-items: flex-end;
  }

  &.align-items--stretch {
    align-items: stretch;
  }

  &.spacing--base {
    margin: -#{$spacing-small} -#{$spacing-x-small} 0;

    > .#{$prefix}--stack-item {
      padding: #{$spacing-small} #{$spacing-x-small} 0;
    }
  }

  &.spacing--tight {
    margin: -#{$spacing-x-small} -#{$spacing-xx-small} 0;

    > .#{$prefix}--stack-item {
      padding: #{$spacing-x-small} #{$spacing-xx-small} 0;
    }
  }

  &.stack--column {
    flex-direction: column;
  }

  &.stack--wrap {
    flex-wrap: wrap;
  }

  @for $n from 2 through 6 {
    &.columns--#{$n} {
      .#{$prefix}--stack-item {
        flex: 1 1 percentage(1 / $n);
        max-width: percentage(1 / $n);
      }
    }
  }
}

.#{$prefix}--stack-item {
  flex: 0 0 auto;

  &.stack-item--fill {
    flex: 1 1 auto;
  }
}
