@import "../../styles/core";

// Stack

$nimbus-stack-spacing: (
  "none": 0,
  "tight": map-get($nimbus--spacers, "x-small"),
  "base": map-get($nimbus--spacers, "small"),
  "loose": map-get($nimbus--spacers, "medium"),
);

.#{$prefix}--stack-wrapper {
  display: flex;
  flex-wrap: nowrap;

  > .#{$prefix}--stack-item {
    max-width: 100%;
  }

  &.justify-content--flex-start {
    justify-content: flex-start;
  }

  &.justify-content--center {
    justify-content: center;
  }

  &.justify-content--flex-end {
    justify-content: flex-end;
  }

  &.justify-content--space-between {
    justify-content: space-between;
  }

  &.align-items--flex-start {
    align-items: flex-start;
  }

  &.align-items--center {
    align-items: center;
  }

  &.align-items--flex-end {
    align-items: flex-end;
  }

  &.align-items--stretch {
    align-items: stretch;
  }

  @each $name, $value in $nimbus-stack-spacing {
    &.spacing--#{$name} {
      gap: $value;
    }
  }

  &.stack--column {
    flex-direction: column;
  }

  &.stack--wrap {
    flex-wrap: wrap;
  }
}

.#{$prefix}--stack-item {
  flex: 0 0 auto;
  min-width: 0;

  &.stack-item--fill {
    flex: 1 1;
  }
}
