@import "../../styles/core";

// Stack

.#{$prefix}--stack-wrapper {
  display: flex;
  flex-wrap: nowrap;

  > .#{$prefix}--stack-item {
    max-width: 100%;
  }

  &.h-alignment--start {
    justify-content: flex-start;
  }

  &.h-alignment--center {
    justify-content: center;
  }

  &.h-alignment--end {
    justify-content: flex-end;
  }

  &.h-alignment--between {
    justify-content: space-between;
  }

  &.v-alignment--start {
    align-items: flex-start;
  }

  &.v-alignment--center {
    align-items: center;
  }

  &.v-alignment--end {
    align-items: flex-end;
  }

  &.v-alignment--between {
    align-items: stretch;
  }

  &.spacing--base {
    margin-left: -$spacing-small;
    margin-top: -$spacing-small;

    > .#{$prefix}--stack-item {
      margin-left: $spacing-small;
      margin-top: $spacing-small;
    }
  }

  &.spacing--tight {
    margin-left: -$spacing-x-small;
    margin-top: -$spacing-x-small;

    > .#{$prefix}--stack-item {
      margin-left: $spacing-x-small;
      margin-top: $spacing-x-small;
    }
  }

  &.stack--vertical {
    flex-direction: column;
  }

  &.stack--wrap {
    flex-wrap: wrap;
  }
}

.#{$prefix}--stack-item {
  flex: 0 0 auto;

  &.stack-item--fill {
    flex: 1 1 auto;
  }
}
