@import "../../styles/core";

// Interactive List

.#{$prefix}--interactive-list-wrapper {
  display: block;
  margin-left: -$spacing-small;
  margin-right: -$spacing-small;
}

.#{$prefix}--interactive-list {
  display: flex;
  flex-direction: column;

  .#{$prefix}--interactive-list-item {
    &:first-child {
      border-top: $input-border-width solid $color-default;
    }
  }
}

.#{$prefix}--interactive-list-item__wrapper--all {
  display: flex;
  flex-direction: column;
}

.#{$prefix}--interactive-list-item__wrapper--upper {
  display: flex;
  flex-direction: row;
}

.#{$prefix}--interactive-list__add-item {
  .#{$prefix}--interactive-list-item {
    border-bottom: 0;
    border-top: $input-border-width solid $color-default;

    .#{$prefix}--link {
      width: 100%;
    }
  }
}

.#{$prefix}--interactive-list-item {
  border-bottom: $input-border-width solid $color-default;
  cursor: pointer;
  padding: $spacing-small;
  width: 100%;
}

&.#{$prefix}--interactive-list-item__borderBottom {
  border-bottom: 0;
}

.#{$prefix}--interactive-list-item__button {
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

.#{$prefix}--interactive-list-item__title {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-between;

  .#{$prefix}--text {
    @include nimbus--text-trim(1);
  }
}

.#{$prefix}--interactive-list-item__info {
  margin-top: $spacing-x-small;
  text-align: left;
  
  .#{$prefix}--interactive-list-item__description-wrapper {
    margin-bottom: $spacing-x-small;
  }
}

// Radio

.#{$prefix}--radio-wrapper {
  position: relative;

  .#{$prefix}--radio {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    &:checked + .#{$prefix}--radio-label::before {
      border-color: $color-primary-pure;
    }

    &:checked + .#{$prefix}--radio-label::before,
    &:checked ~ .#{$prefix}--radio__check {
      visibility: visible;
    }

    &:hover + .#{$prefix}--radio-label::before {
      border-color: $color-primary-pure;
    }

    &:disabled + .#{$prefix}--radio-label::before,
    &:hover:disabled + .#{$prefix}--radio-label::before,
    &:focus:disabled + .#{$prefix}--radio-label::before {
      background-color: $input-disabled-background;
      border-color: $input-disabled-background;
      cursor: not-allowed;
      pointer-events: none;
    }

    &:disabled + .#{$prefix}--radio-label,
    &:hover:disabled + .#{$prefix}--radio-label,
    &:focus:disabled + .#{$prefix}--radio-label {
      .#{$prefix}--text {
        color: $input-disabled-text;
      }
    }

    &:active + .#{$prefix}--radio-label::before {
      background-color: $color-primary-active;
      border-color: $color-primary-active;
    }

    &:focus + .#{$prefix}--radio-label::before {
      border-color: $color-primary-active;
      box-shadow: 0 0 0 $button-border-width $color-primary-active;
    }
  }

  %radio-label {
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    min-height: $spacing-medium;
    padding-left: $spacing-medium;
    position: relative;
    white-space: nowrap;

    &::before {
      background-color: transparent;
      border: $input-border-width solid $input-border-color;
      border-radius: 100%;
      content: "";
      height: $spacing-medium - 2px;
      left: 0;
      position: absolute;
      top: 0;
      width: $spacing-medium - 2px;
    }

    &::after {
      background-color: $color-background;
      content: "";
      height: 2px;
      left: $spacing-xx-small;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      visibility: hidden;
      width: 16px;
    }
  }

  .#{$prefix}--radio-label {
    @extend %radio-label;
  }

  .#{$prefix}--label-hidden {
    padding-left: $spacing-medium;

    span {
      border: 0;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      visibility: inherit;
      white-space: nowrap;
      width: 1px;
    }
  }

  .#{$prefix}--radio__check {
    align-items: center;
    background-color: $color-primary-pure;
    border-radius: 100%;
    display: flex;
    height: 20px;
    justify-content: center;
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    width: 20px;

    svg {
      fill: $color-background;
    }
  }
}
