@import "core";

// Callout Card

$callout-color-primary: (
  "background": $color-primary-lighter,
  "foreground": $color-primary-light,
);

$callout-color-secondary: (
  "background": $color-secondary-lighter,
  "foreground": $color-secondary-light,
);

$callout-color-success: (
  "background": $color-success-lighter,
  "foreground": $color-success-light,
);

$callout-color-warning: (
  "background": $color-warning-lighter,
  "foreground": $color-warning-light,
);

$callout-color-danger: (
  "background": $color-danger-lighter,
  "foreground": $color-danger-light,
);

$callout-colors: (
  primary: $callout-color-primary,
  secondary: $callout-color-secondary,
  success: $callout-color-success,
  warning: $callout-color-warning,
  danger: $callout-color-danger,
);

.#{$prefix}--callout-card {
  @each $name, $color in $callout-colors {
    &--#{$name} {
      background-color: map-get($color, "background");

      .#{$prefix}--callout-card__icon {
        background-color: map-get($color, "foreground");
      }
    }
  }
  border-radius: $actions-border-radius;
  display: flex;
  flex-wrap: nowrap;
  padding: $spacing-small;
  width: 100%;

  &[type="button"] {
    appearance: none;
    border: 0;
    cursor: pointer;
  }

  .#{$prefix}--callout-card__icon {
    border-radius: $actions-border-radius;
    flex: 0 0 auto;
    margin-right: $spacing-small;
    padding: $spacing-x-small;
  }

  .#{$prefix}--callout-card__content {
    align-items: center;
    column-gap: $spacing-x-small;
    display: flex;
    flex: 1 1 auto;
  }

  .#{$prefix}--callout-card__info {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;

    .#{$prefix}--text {
      color: $color-body-text;
    }

    .#{$prefix}--link {
      margin-top: $spacing-x-small;
      pointer-events: none;
    }
  }

  .#{$prefix}--callout-card__carat {
    flex: 0 0 auto;
  }

  &.#{$prefix}--callout-card--skeleton {
    background-color: $color-grey-0;

    .#{$prefix}--callout-card__icon {
      background-color: $color-grey-25;
      min-height: $spacing-xx-large;
      min-width: $spacing-xx-large;
    }
  }
}
