@import "../../styles/core";

// Form

.#{$prefix}--form {
  display: block;

  .#{$prefix}--alert,
  .#{$prefix}--input-wrapper,
  .#{$prefix}--link {
    margin-bottom: $spacing-small;
  }

  .#{$prefix}--link {
    margin-top: -1 * $spacing-x-small;
  }

  .#{$prefix}--form__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -$spacing-x-small;
    margin-right: -$spacing-x-small;
  }
}

// TODO: Crear una clase global para botones para este tipo de casos
.#{$prefix}--form__actions button {
  margin-left: $spacing-x-small;
  margin-right: $spacing-x-small;
}

@include nimbus--breakpoint-up(md) {
  .#{$prefix}--form {
    .#{$prefix}--alert,
    .#{$prefix}--input-wrapper,
    .#{$prefix}--link {
      margin-bottom: $spacing-medium;
    }
  }
}
