@import "../../styles/core";

// Mixins

// Buttons
//
// Defining mixins to be used by buttons

@mixin button($font-color, $bg-color, $hover-bg-color, $focus-color) {
  @include nimbus--type("text-button");
  background-color: $bg-color;
  border: $button-border-width solid $bg-color;
  border-radius: $actions-border-radius;
  color: $font-color;
  cursor: pointer;
  display: inline-block;
  padding: $spacing-x-small $spacing-small;
  text-align: center;
  transition: $button-hover-delay ease;
  vertical-align: middle;

  &:disabled,
  &:hover:disabled,
  &:focus:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {
    background-color: $hover-bg-color;
    border-color: $hover-bg-color;
  }

  &:active {
    background-color: $focus-color;
    border-color: $focus-color;
  }

  &:focus {
    border-color: $focus-color;
    box-shadow: 0 0 0 $button-border-width $focus-color;
  }
}
