@import "core";
// Buttons

%#{$prefix}--button__icon svg {
  margin-top: -$spacing-xx-small;
}

.#{$prefix}--button__icon--start {
  @extend %#{$prefix}--button__icon;
  margin-right: $spacing-x-small;
}

.#{$prefix}--button__icon--end {
  @extend %#{$prefix}--button__icon;
  margin-left: $spacing-x-small;
}

.#{$prefix}--button--default {
  @include button(
    $color-secondary,
    $color-default,
    $color-default-hover,
    $color-default-active
  );
}

.#{$prefix}--button--primary {
  @include button(
    $color-white,
    $color-primary,
    $color-primary-hover,
    $color-primary-active
  );
}

.#{$prefix}--button--secondary {
  @include button(
    $color-white,
    $color-secondary,
    $color-secondary-hover,
    $color-secondary-active
  );
}

.#{$prefix}--button--danger {
  @include button(
    $color-white,
    $color-danger,
    $color-danger-hover,
    $color-danger-active
  );
}
