@import "../../styles/core";

.#{$prefix}--app {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100vw;

  .#{$prefix}--app__aside {
    display: flex;
    flex: 0 0 auto;
    height: 100%;
    overflow: hidden;

    .#{$prefix}--menu {
      background: none;
      position: static;
    }
  }

  .#{$prefix}--app__main {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }

  .#{$prefix}--app__header {
    display: flex;
    flex: 0 0 auto;
    width: 100%;
  }

  .#{$prefix}--app__body {
    display: flex;
    flex: 1 1 auto;
    overflow-y: scroll;
    width: 100%;
  }
}
