@import '../NimbusCore/nimbus-core';

// Inputs

.#{$prefix}--input {
  font-family: $font-family;

  label {
    color: $text-gray;
    display: block;
    font-size: $font-size-base * 0.875;
    margin-bottom: $size-base * 0.5;
    width: 100%;
  }

  input {
    background-color: transparent;
    border: 1px solid $light-gray;
    border-radius: $size-base * 0.5;
    color: $dark-blue;
    font-size: $font-size-base;
    padding: $button-padding-y;
    text-align: left;
    transition: 0.15s ease;
    width: 100%;

    &::placeholder {
      color: $light-gray;
    }

    &:focus {
      border-color: $dark-blue;
    }
  }
}
