@import "../NimbusCore/nimbus-core";

// Inputs

.#{$prefix}--input {
  font-family: $nimbus-font-family;

  label {
    color: $color-text;
    display: block;
    font-size: $nimbus-font-size-02;
    margin-bottom: $nimbus-grid-spacer-02;
    width: 100%;
  }

  input {
    background-color: transparent;
    border: 1px solid $color-gray-light;
    border-radius: $nimbus-grid-spacer-02;
    color: $color-primary;
    font-size: $nimbus-font-size-03;
    padding: $nimbus-grid-spacer-02;
    text-align: left;
    transition: 0.15s ease;
    width: 100%;

    &::placeholder {
      color: $color-gray-light;
    }

    &:focus {
      border-color: $color-primary;
    }
  }
}
