@import "../NimbusCore/nimbus-core";

// Links

.#{$prefix}--link {
  display: inline-block;
  font-family: $font-family;
  font-size: inherit;
  cursor: pointer;
  text-decoration: underline;
  color: $primary-blue;
  transition: 0.15s ease;

  &:hover {
    color: darken($primary-blue, 0.15);
  }
}

.#{$prefix}--link__icon {
  &--start {
    margin-right: $size-base * 0.5;
  }

  &--end {
    margin-left: $size-base * 0.5;
  }
}
