@import "../../styles/core";

// ImageItem

$thumbnail-dimensions: 72px;

.#{$prefix}--image-item {
  display: flex;
  flex-wrap: nowrap;
  max-width: 100%;

  .#{$prefix}--image-item__thumbnail {
    border-radius: $actions-border-radius;
    height: $thumbnail-dimensions;
    margin-right: $spacing-small;
    min-height: $thumbnail-dimensions;
    min-width: $thumbnail-dimensions;
    overflow: hidden;
    width: $thumbnail-dimensions;

    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
      width: 100%;
    }

    .#{$prefix}--image-item__placeholder {
      align-items: center;
      background-color: $color-default;
      display: flex;
      height: 100%;
      justify-content: center;
      width: 100%;
    }

    .#{$prefix}--image-item__placeholder svg {
      fill: $color-grey-35;
      margin-top: -$spacing-xx-small;
    }
  }

  .#{$prefix}--image-item__info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

    .#{$prefix}--text,
    .#{$prefix}--link {
      @include nimbus--type("text-body");
      @include nimbus--text-trim(2);
      text-align: inherit;
    }

    .#{$prefix}--link--primary {
      color: $color-primary;
      font-weight: $font-weight-bold;
      text-decoration: none;
    }
  }
}

.#{$prefix}--image-item-skeleton {
  display: flex;
  flex-wrap: nowrap;
  max-width: 100%;
}

.#{$prefix}--image-item-skeleton__thumbnail {
  @include nimbus--skeleton($thumbnail-dimensions, $thumbnail-dimensions, 0, 0);
  border-radius: $actions-border-radius;
  margin-right: $spacing-small;
  min-width: $thumbnail-dimensions;
}

.#{$prefix}--image-item-skeleton__info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
